/* ---------- GENERAL ---------- */

    body {
        font-family: 'Nunito Medium', sans-serif;
    }

/* -------------------- */





/* ---------- PAGE CV ---------- */

    #CV {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

/* -------------------- */





/* ---------- BANDEAU PHOTO ----------*/

    #photo {
        width: var(--width-aside);
        height: var(--height-header);
        background-color: var(--couleur-header);
        object-fit: cover;
        object-position: center -3mm;
    }

/* -------------------- */





/* ---------- BANDEAU HEADER ---------- */

    #bandeau-header {
        display: table;
        box-sizing: border-box;
        width: var(--width-body);
        height: var(--height-header);
        padding: 5mm;
        color: white;
        font-size: var(--taille-police-header);
        text-align: center;
        text-transform: uppercase;
        background-color: var(--couleur-header);
    }

    #bandeau-header span {
        display: table-cell;
        vertical-align: middle;
    }

/* -------------------- */





/* ---------- BANDEAU ASIDE ---------- */

    #bandeau-aside {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; 
        align-items: center;
        width: var(--width-aside);
        height: var(--height-body);
        background-color: var(--couleur-aside);
    }

    .bloc-aside {
        margin-top: 8mm;
        margin-bottom: 4mm;
        width: 80%;
    }

    .titre-bloc {
        padding-left: 1mm;
        font-size: var(--taille-grand-titre);
        font-family: var(--police-bold);
        border-bottom: 1px solid black;
        text-transform: uppercase;
    }

    .titre-bloc span {
        text-transform: capitalize;
    }

    .texte-bloc-aside {
        padding: 1mm 1mm 0mm 1mm;
        font-size: var(--taille-grand-texte);
        border-bottom: 1px solid black;
    }

    .images-bloc-aside {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 2mm;
    }

    .image-bloc-aside {
        width: 40%;
        object-fit: contain;
        padding-bottom: 2mm;
    }

/* -------------------- */





/* ---------- BANDEAU BODY ---------- */

    #bandeau-body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; 
        align-items: center;
        width: var(--width-body);
        height: var(--height-body);
    }

    .bloc-body {
        margin-top: 8mm;
        margin-bottom: 4mm;
        width: 90%;
    }

    /* ---------- PART COMPETENCE ---------- */

        .part-competence {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 4mm;
            padding: 0mm 3mm 1mm 3mm;
            border: solid 2px black;
        }

        .titre-competence {
            color: black;
            font-size: var(--taille-petit-titre);
            font-family: var(--police-bold);
            text-transform: uppercase;
        }

        .texte-competence {
            display: grid;
            grid-template-columns: repeat(2, 14% auto);
            width: 25%;
            align-items: center;
            font-size: var(--taille-grand-texte);
        }

        .losange-competence {
            margin-top: -1mm;
            width: 2mm;
            height: 2mm;
            transform: rotate(45deg);
            background-color: var(--couleur-forme);
            border: solid 1px black;
        }
    
    /* -------------------- */


    /* ---------- PART EXPERIENCE ---------- */

        .part-experience {
            margin-top: 5mm;
            margin-bottom: -5mm;
        }

        .rond-experience {
            width: 3.5mm;
            height: 3.5mm;
            background-color: var(--couleur-forme);
            border: solid 2px black;
            border-radius: 3.5mm;
        }

        .titre-experience {
            margin-top: -4.75mm;
            margin-left: var(--margin-titre-texte-experience);
            padding-left: 4.5mm;
            font-size: var(--taille-petit-titre);
            font-family: var(--police-bold);
        }

        .texte-experience {
            margin-top: -1mm;
            margin-left: var(--margin-titre-texte-experience);
            padding: 1mm 1mm 6mm 4mm;
            font-family: var(--police-light);
            font-size: var(--taille-petit-texte);
            line-height: 4.5mm;
            color: #444444;
            border-left: solid 2px black;
        }
    
    /* -------------------- */

/* -------------------- */










.part-experience-test {
    border-collapse: collapse;

    width: 100%;
    margin-top: 5mm;
    margin-bottom: -5mm;
}

.rond-experience-test {
    width: 0px;
    height: 0px;
}

.rond-experience-test div {
    box-sizing: border-box;
    width: var(--taille-rond);
    height: var(--taille-rond);
    background-color: var(--couleur-forme);
    border: solid 2px black;
    border-radius: var(--taille-rond);
}

.ligne-experience-test {
    margin-top: -2mm;
    height: 0px;
}

.ligne-experience-test div {
    width: 2px;
    height: 100%;
    margin: auto;
    background-color: black;
}

.titre-experience-test, .texte-experience-test {
    box-sizing: border-box;
    width: auto;
    padding-left: 2mm;
}

.titre-experience-test {
    font-size: var(--taille-petit-titre);
    font-family: var(--police-bold);
}

.texte-experience-test {
    font-family: var(--police-light);
    font-size: var(--taille-petit-texte);
    line-height: 4.5mm;
    color: #444444;
}