#oldCV {
    position: absolute;
    width: 100%;
    opacity: 0.2;
    z-index: 0;
    display: none;
}



body {
    font-family: 'Nunito Medium', sans-serif;
}



#CV {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



#bandeau-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: var(--hauteur-bandeau-header);
    background-color: #0065AD;
}

#photo {
    width: var(--largeur-bandeau-aside);
}

#photo img {
    margin-top: 25mm;
    width: 100%;
}

#info-alternance {
    display: table;
    box-sizing: border-box;
    width: var(--largeur-bandeau-body);
    height: 100%;
    padding: 5mm;
    color: white;
    font-size: var(--taille-police-header);
    text-align: center;
    text-transform: uppercase;
}

#info-alternance span {
    display: table-cell;
    vertical-align: middle;
}



#bandeau-aside {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    align-items: center;
    width: var(--largeur-bandeau-aside);
    height: var(--hauteur-bandeau-body);
    background-color: #EAEAEA;
}

#titre-info-perso {
    padding-left: 1mm;
    font-size: var(--taille-grand-titre);
    font-family: var(--police-bold);
    border-bottom: 1px solid black;
}

.bloc-aside {
    margin-top: 8mm;
    margin-bottom: 4mm;
    width: 80%;
}

.titre-bloc-info {
    padding-left: 1mm;
    font-size: var(--taille-grand-titre);
    font-family: var(--police-bold);
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.texte-bloc-info {
    padding: 1mm 1mm 0mm 1mm;
    font-size: var(--taille-grand-texte);
    border-bottom: 1px solid black;
}

#table-info-image {
    margin: auto;
    width: 85%;
}

#table-info-image td {
    padding: 2mm;
    width: 50%;
}

#table-info-image img {
    width: 100%;
}



#bandeau-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    align-items: center;
    width: var(--largeur-bandeau-body);
    height: var(--hauteur-bandeau-body);
}

.bloc-body {
    margin-top: 8mm;
    margin-bottom: 4mm;
    width: 90%;
}


.bloc-competence {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4mm;
    padding: 0mm 3mm 1mm 3mm;
    border: solid 2px black;
}

.bloc-competence legend {
    color: black;
    font-size: var(--taille-petit-titre);
    font-family: var(--police-bold);
    text-transform: uppercase;
}

.losange {
    margin-top: -1mm;
    width: 2mm;
    height: 2mm;
    transform: rotate(45deg);
    background-color: var(--couleur-forme);
    border: solid 1px black;
}

.competence {
    display: grid;
    grid-template-columns: repeat(2, 14% auto);
    width: 25%;
    align-items: center;
    font-size: var(--taille-grand-texte);
}


.bloc-experience-pro {
    margin-top: 5mm;
    margin-bottom: -5mm;
}

.rond-experience-pro {
    width: 3.5mm;
    height: 3.5mm;
    background-color: var(--couleur-forme);
    border: solid 2px black;
    border-radius: 3.5mm;
}

.titre-experience-pro {
    margin-top: -4.75mm;
    margin-left: var(--margin-titre-texte-experience);
    padding-left: 4.5mm;
    font-size: var(--taille-petit-titre);
    font-family: var(--police-bold);
}

.texte-experience-pro {
    margin-top: -1mm;
    margin-left: var(--margin-titre-texte-experience);
    padding: 1mm 1mm 6mm 4mm;
    font-family: var(--police-light);
    font-size: var(--taille-petit-texte);
    line-height: 4.5mm;
    color: #444444;
    border-left: solid 2px black;
}