:root {

    /* ----- DVIS SIZES ----- */
    --header-height: 40mm;
    --aside-width: 60mm;
    --body-width: calc(210mm - var(--aside-width));
    --body-height: calc(297mm - var(--header-height));

    /* ----- FORMS SIZES ----- */
    --sphere-size: 4.5mm;
    --diamond-size: 2mm;

    /* ----- TEXTS SIZES ----- */
    --header-text-size: 15.5pt;
    --bloc-title-size: 13pt;
    --part-title-size: 11pt;
    --aside-text-size: 10pt;
    --competence-text-size: 9.5pt;
    --experience-text-size: 9pt;

    /* ----- TEXTS COLORS ----- */
    --text-base-color: #000;
    --header-text-color: #fff;
    --hover-text-color: #0095ff;
    --visited-text-color: #0065AD;
    --experience-text-color: #444;

    /* ----- BLOCS MARGINS ----- */
    --bloc-aside-margtop: 8mm;
    --bloc-aside-margbot: 4mm;
    --bloc-body-margtop: 8mm;
    --bloc-body-margbot: 4mm;

    /* ----- PARTS EXP PADDINGS ----- */
    --part-exp-paddleft: 4mm;

    /* ----- EXP BARRE STYLES ----- */
    --exp-barre-width: 0.5mm;
    --exp-barre-margrl: calc((var(--sphere-size) - var(--exp-barre-width)) / 2);

    /* ----- COLORS ----- */
    --header-color: #0065AD;
    --aside-color: #EAEAEA;
    --shape-color: #0095ff;
    --line-color: #000;
    --shape-border-color: #000;

    /* ----- FONTS ----- */
    --font-family-light: "Nunito Light", sans-serif;
    --font-family-medium: 'Nunito Medium', sans-serif;
    --font-family-bold: "Nunito Extra Bold", sans-serif;

}